
.odd{
    font-family: Verdana, "DejaVu Sans", sans-serif;
    background-color: rgb(209, 168, 190);
}
.two{
    color: blue;
    font-size: 36px;
}
.three{
    font-size: 24px;
}
.four{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}